button {
    width: 130px;
    height: 50px;
    margin: 4px;
    letter-spacing: 2px;
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:  rgb(238, 228, 228);
    background-color: rgb(60, 133, 175);    
    border: none;
    border-radius: 10px;
    border-bottom: solid 4px rgb(41, 102, 138);
    font-weight: bolder;
    transition: ease-in-out 0.07s;
    cursor: pointer;
}
button:active{
    border-bottom: solid 4px rgb(39, 85, 87);
    transform: translateY(2px);
    transition: ease-in-out 0.07s;
    /* color:  rgb(35, 83, 110); */
    background-color: rgb(85, 169, 218);
}