button {
    width: 70px;
    height: 50px;
    margin: 5px;
    color: rgb(90, 82, 143);
    background-color: rgb(246, 246, 246);
    border: none;
    border-radius: 10px;
    border-bottom: solid 4px darkgray;
    transition: ease-in-out 0.07s;
    cursor: pointer;
}
button:active{
    border-bottom: solid 4px rgba(13, 78, 78, 0.376);
    transform: translateY(2px);
    transition: ease-in-out 0.07s;
    background-color: white;
}