button {
    width: 60px;
    height: 50px;
    margin: 5px;
    color:  rgb(246, 246, 246);
    background-color: rgb(60, 133, 175);
    border: none;
    border-radius: 10px;
    border-bottom: solid 4px rgb(41, 102, 138);
    transition: ease-in-out 0.07s;
    cursor: pointer;
    font-weight: bolder;
}
button:active{
    border-bottom: solid 4px rgb(39, 85, 87);
    transform: translateY(2px);
    transition: ease-in-out 0.07s;
    /* color:  rgb(43, 103, 138); */
    background-color: rgb(85, 169, 218);
}