button {
    width: 60px;
    height: 50px;
    margin: 4px;
    font-size: 1.8rem;
    color: rgb(37, 88, 117);
    border: none;
    border-radius: 10px;
    border-bottom: solid 4px darkgray;
    font-weight: bolder;
    background-color: rgb(231, 226, 200);    
    transition: ease-in-out 0.07s;
    transition: ease-in-out 0.07s;
    cursor: pointer;
}
button:active{
    border-bottom: solid 4px rgb(39, 85, 87);
    transform: translateY(2px);
    transition: ease-in-out 0.07s;
    background-color: white;
}