<div>
    <app-button-number number="7"></app-button-number>
    <app-button-number number="8"></app-button-number>
    <app-button-number number="9"></app-button-number>
    
    <app-button-number number="4"></app-button-number>
    <app-button-number number="5"></app-button-number>
    <app-button-number number="6"></app-button-number>
 
    <app-button-number number="1"></app-button-number>
    <app-button-number number="2"></app-button-number>
    <app-button-number number="3"></app-button-number>
  
    <app-button-number number="."></app-button-number>
    <app-button-number number="0"></app-button-number>
    <app-button-delete></app-button-delete>
</div>